@{
    ViewBag.Title = "О магазине";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Книжный магазин "HELLO WORLD"</h2>
</div>
    <p>
        <img src="~/Content/Images/BartHelloWorld.gif" align="right">
        Интернет магазин "HELLO WORLD" предлагает книги, учебники по программированию и многое другое.
        <br />
        <br />
        Покупать товары через интернет очень удобно, так как Вы можете ознакомиться с представленными книгами в интернет-магазине, а потом заказать или купить книги, которые вам понравились. На сегодняшний день книжный магазин предоставляет покупателям доставку книг Укрпочтой, перевозчиком «Новая почта» и самовывоз.
        <br />
        <br />
        Книжный магазин "HELLO WORLD" - это всегда гибкая ценовая политика. Например, мы создает особые условия для постоянных покупателей и для того, чтобы Вы, наш читатель, захотели приобрести книги именно в нашем книжном магазине. Специально для покупателей книжного магазина разработана программа лояльности, участвуя в которой можно покупать с постоянно увеличивающейся скидкой. Уже сегодня вы можете сделать покупку в нашем книжном магазине и не платить за ее доставку, скачать флаер и купить книгу со скидкой и это только начало...
        <br />
        <br />
        Ассортимент книжного магазина формируется опытными товароведами, которые заказывают популярные и редкие книги, умело подбирают книги в рубрики новинки и распродажа.
    </p>
