@{
    ViewBag.Title = "Оплата";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Оплата</h2>
</div>
    <p>
        <img src="~/Content/Images/Money.jpg" align="right">
        Оплатить сделанный заказ можно несколькими способами:
        <br />
        <br />
        <strong>1. Оплата наличными в пункте самовывоза</strong>
        <br />
        Вы оплачиваете сделанный заказ наличными в пункте самовывоза.  Адреса пунктов вы можете посмотреть здесь.
        <br />
        <br />
        <strong> 2. Оплата наличными курьеру (Одесса)</strong>
        <br />
        Вы оплачиваете заказ курьеру при его получении.
        <br />
        <br />
        <strong>3. Наложный платеж (Новая почта)</strong>
        <br />
        Вы оплачиваете товар при получении в отделении Новой почты. Общая сумма включает в себя стоимость заказанных товаров + 25 грн доставка.
        <br />
        <br />
        Если Вам не подходит не один из перечисленных вариантов оплаты, напишите об этом в комментариях при оформлении заказа. Наш оператор обязательно свяжется с Вами для согласования способа оплаты.

    </p>
