@{
    ViewBag.Title = "Помощь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Помощь</h2>

    <h3>Как совершить заказ в магазине <strong>"Hello World"</strong>?</h3>
</div>

    <p>Для совершения on-line заказов Вы должны быть зарегистрированным пользователем. Совершить заказ очень просто:</p>
    <ul>
        <li>Зарегистрируйтесь на сайте и войдите под своим логином и паролем.</li>
        <li>Найдите в каталоге нужную книгу или воспользуйтесь поиском.</li>
        <li>Добавьте ее в корзину.</li>
        <li>Зайдите в корзину и нажмите 'оформить заказ'</li>
        <li>Укажите контактные данные для службы доставки, выберите способ доставки и оплаты.</li>
        <li>Нажмите кнопку 'оформить заказ'.</li>
    </ul>

<div class="page-header">
    <h3>Что происходит после оформления заказа на сайте?</h3>
</div>
    <p>
        При любом виде доставки и оплаты с Вами должен связаться менеджер для подтверждения заказа. Обычно, мы перезваниваем через 3-15 минут после оформления.
    </p>

<div class="page-header">
    <h3>Зачем нужна регистрация?</h3>
</div>

    <p>
        Только зарегистрированные пользователи имеют возможность делать заказы on-line, следить за процессом выполнения заказа в личном кабинете, участвовать в дисконтных программах, а также пользоваться всеми сервисами на сайте. Данные введенные при регистрации надежно защищены, не передаются третьим лицам и не публикуются на сайте. При каждом последующем заказе все контактные данные будут вставляться автоматически.
    </p>







